model {

  // Definir bounded contexts e modulos aqui
  // Exemplo:
  // core = boundedContext 'Core Domain' {
  //   #core
  //   description 'Dominio principal do negocio'
  //
  //   m1 = module 'Modulo 1' {
  //     description 'Descricao do modulo'
  //   }
  // }
}
