model {

  // Definir infraestrutura compartilhada aqui (databases, caches, proxies)
  // Exemplo:
  // db = database 'PostgreSQL' {
  //   technology 'PostgreSQL 16'
  //   description 'Banco de dados principal'
  // }
}
