model {

  {{ platform_name }} = platform '{{ platform_title }}' {
    description '{{ platform_description }}'

    // Definir containers aqui (api, worker, frontend, database, cache, proxy)
    // Exemplo:
    // myApi = api 'my-api' {
    //   technology 'Python 3.12 + FastAPI'
    //   description 'API principal'
    // }
  }
}
