model {

  // Definir relacionamentos entre elementos aqui
  // Tipos de relacionamento DDD: acl, conformist, customerSupplier, pubSub
  // Tipos de conexao: sync, async
  //
  // Exemplo:
  // user -> myPlatform.myApi 'HTTPS' {
  //   technology 'HTTPS'
  // }
}
